.custom-tracking-extra-wide {
    letter-spacing: 8px;
  }
  
.custom-tracking-extra-extra-wide {
    letter-spacing: 13px;
  }
  
.fontsize-title-index {
    font-size: 3rem; /* Equivalent à 14px */
  }