/* styles/Layout.module.css */
.gradientScroll {
  background: 
    linear-gradient(to bottom, #febe27, #f7b827, #7fcb78, #3E885B, #276a41);
  background-size: cover, 100% 500%;
  transition: background-position 1s ease-in-out;
}